* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* color: #1C1A35; */
}

p, h1 {
  color: #1C1A35;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0EAB78;
  color: #1C1A35;
  height: 30px;
  width: 250px;
  border-radius: 50px;
  font-size: medium;
  margin: 0 10px;
  text-decoration: none;
}

a:hover {
  background-color: #1C1A35;
  color: #0EAB78;
}